# Google credentials and configuration
google_client_id:      
google_client_secret:  
google_project_id:     

# options are "mysql", "postgres", "mongodb", or "datastore"
bookshelf_backend: datastore

