{#
# Copyright 2015 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Bookshelf - PHP on Google Cloud Platform</title>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!--[if IE ]>
        <script>
            document.createElement('header');
            document.createElement('main');
            document.createElement('footer');
            document.createElement('nav');
        </script>
        <![endif]-->

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/bookshelf.css" />
    </head>
    <body>
        <header class="navigation">
            <div class="container">
                <ul class="navigation__list">
                    <li><a href="/products" class="navigation__link">Home</a></li>
                </ul>
            </div>
        </header>
        </div>
        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
        {{user}}

        <script src="/javascript/bookshelf.js" defer></script>
    </body>
</html>
