{#
# Copyright 2015 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}

{% extends "base.html.twig" %}

{% block content %}
    <form id="search-form" onsubmit="return redirectMe();" method="POST" enctype="multipart/form-data" name="myform" class="search-bar">
        <label for="search-phrase" class="search-bar__label">I am looking for:</label>
        <div class="search-bar__field">
            <input type="text" oninput="OnInput(event);" onpropertychange="OnPropChanged(event);" id="search-phrase" class="search-bar__input" autofocus>
            <button type="submit" class="search-bar__button">Search</button>
        </div>

        <div id="output"></div>
    </form>

    {# [START book_list] #}
    {% if books|length > 0 %}
        {% for book in books %}
            <div class="media">
                <a href="/products/{{book.id}}">
                    <div class="media-left">
                        {% if book.name %}
                            <h4>{{book.name}}</h4>
                        {% else %}
                            <h4>No product found</h4>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    {# [END book_list] #}

    {% if next_page_token %}
        <nav>
            <ul class="pager">
                <li><a href="?page_token={{next_page_token}}">More</a></li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}
